# ===============================
# .NET / ASP.NET Core
# ===============================
bin/
obj/

# ===============================
# Visual Studio
# ===============================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===============================
# Build / publish
# ===============================
**/publish/
**/out/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# App settings (hemligheter)
# ===============================
appsettings.Production.json
appsettings.Staging.json

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
